#capa1{ position:relative; z-index:0; background-color:none; }
#capa2{ position:relative;float: left; z-index:1; }

P.titulo {text-align: center}

.imagenRedonda {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border:10px solid #666;
}
div {
    background-color:none;
  }

