#capa1{ position:relative;}
#capa2{ position:relative;float: left;}

P.titulo {text-align: center}

.imagenRedonda {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border:10px solid #666;
}
div {
    background-color:none;
  }

